<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/mycss.css"
          media="all" th:href="@{/css/mycss.css}"/>
</head>
<body>
<div class="container-fluid" style="background-color:#ffffff;color:#fff;height:300px;">
    <p align="center">
        <img src="/images/VOICE%20logo%202023-transparent.png"
             alt="" title="" border="0" width="714" height="268"><br>
    </p>

</div>
<!--Main Menu Nav Bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--        Links-->
    <ul class="navbar-nav" id="collapsibleNavbar">
        <!-- Home -->
        <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li>

        <!-- About us Dropdown -->
        <li class="nav-item dropdown px-2 ">
            <a class="nav-link dropdown-toggle" href="#" id="aboutusdrop" data-toggle="dropdown">
                About us
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Chapters</a>
                <a class="dropdown-item" href="#">Publications</a>
                <a class="dropdown-item" href="#">Staff & Board</a>
                <a class="dropdown-item" href="#">Our Funders And Sponsors</a>
            </div>
        </li>

        <li class="nav-item px-2 ">
            <a class="nav-link" href="#">Donate</a>
        </li>

        <!-- Our Programs Dropdown -->
        <li class="nav-item dropdown px-2">
            <a class="nav-link dropdown-toggle" href="#" id="programsdrop" data-toggle="dropdown">
                Our Programs
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Parents</a>
                <a class="dropdown-item" href="#">Children/Youth</a>
                <a class="dropdown-item" href="#">Early Years</a>
                <a class="dropdown-item" href="#">Educators/Alumni</a>
                <a class="dropdown-item" href="#">Advocacy/Public Education</a>
                <a class="dropdown-item" href="#">Youth Mentorship</a>
                <a class="dropdown-item" href="#">SEAC</a>
            </div>
        </li>

        <!-- Events Dropdown -->
        <li class="nav-item dropdown px-2 ">
            <a class="nav-link dropdown-toggle" href="#" id="eventsdrop" data-toggle="dropdown">
                Events
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Conference 2024</a>
                <a class="dropdown-item" href="#">Conference 2023</a>
            </div>
        </li>

        <li class="nav-item px-2 ">
            <a class="nav-link" href="#">Voice Camp 2024</a>
        </li>

        <!-- Resources Dropdown -->
        <li class="nav-item dropdown px-2 ">
            <a class="nav-link dropdown-toggle" href="#" id="resourcesdrop" data-toggle="dropdown">
                Resources
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Financial</a>
                <a class="dropdown-item" href="#">Mental Health</a>
                <a class="dropdown-item" href="#">Library</a>
                <a class="dropdown-item" href="#">Educational</a>
                <a class="dropdown-item" href="#">Other Languages</a>
                <a class="dropdown-item" href="#">Audiology</a>
                <a class="dropdown-item" href="#">AVT/LSLS</a>
                <a class="dropdown-item" href="#">Other Organization</a>
            </div>
        </li>
    </ul>
</nav>



<!--FORM AREA BEGINS HERE-->
<div class="fixedContainer">
    <div class="container-fluid">
        <aside id="leftNav">
            <div class="fixedPadding"><h2>Already a member?</h2><br>
                <p>If you've registered previously, please login below.</p>

                <form th:action="@{/login}" method="post">
                    <div class="errorNotice" th:if="${param.error}">
                        <span>Error Encountered:</span>
                        <p class="smallestText">Invalid username/password</p>
                    </div>
                    <div class="successNotice" th:if="${param.logout}">
                        <p>You have been successfully logged out</p>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="username" autofocus="autofocus"
                               placeholder="Email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="pt-3">
                        <input class="btn btn-outline-warning"
                                type="submit" id="login-submit" name="login-submit" value="Login">
                    </div>

                    <div class="warning mt-3">
                        <h3 class="p-1">Forgot your password?</h3>
                        <p class="p-1">
                            <a class="smallestText" href="#">Click here to reset your password</a>
                        </p>
                    </div>
                </form>
            </div>

        </aside>

        <article class="bodyNav">
            <div class="fixedPadding">
                <h2>Don't Have An Account?</h2>
                <p class="smallestText">No worries! You can set up an account to get started.</p>
                <p class="requiredText">Fields Marked an asterisk * are required.</p>

                <form name="form" action="#" th:action="@{/register}"
                      method="post" onsubmit="return verify()">

                    <fieldset>
                        <legend>Account Login Information</legend>
                        <p class="smallestText">Please enter an email and password (minimum 6 characters) for your account.
                        This information will be required to register for products and programs.
                        </p>

                        <div class="requiredInput thirdsDiv"><label>Email </label> <input type="email" name="email"></div>
                        <div class="requiredInput thirdsDiv"><label>Password </label> <input type="password" name="password"></div>
                        <div class="requiredInput thirdsDiv"><label>Confirm Password </label><input type="password" name="vpassword"></div>

                    </fieldset>

                    <fieldset>
                        <legend>Name & Contact</legend>
                        <div>
                            <div class="requiredInput halvesDiv"><label>First Name </label> <input type="text" name="firstName"></div>
                            <div class="requiredInput halvesDiv"><label>Last Name </label> <input type="text" name="lastName"></div>
                        </div>
                        <div>
                            <div class="requiredInput halvesDiv"> <label>Phone </label> <input type="number" name="phone" maxlength="10"></div>
                            <div class="halvesDiv"> <label>Secondary Email </label> <input type="email" name="secondaryEmail"></div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Residence</legend>
                        <div class="requiredInput thirdsDiv"><label>Province </label> <input type="text" name="province"></div>
                        <div class="requiredInput thirdsDiv"><label>City </label> <input type="text" name="city"></div>
                        <div class="thirdsDiv"><label>Postal Code </label> <input type="text" name="postalCode"></div>

                    </fieldset>

                    <input class="btn btn-outline-warning" type="submit" value="Register">
                </form>

            </div>

        </article>
    </div>
</div>
</body>
</html>